<div
  class="evo-sidebar__overlay"
  [ngClass]="{ visible: showMoreOptionsModal }"
  (click)="closeMoreOptionsModal()"
></div>
<!-- Capa de fondo que detecta clics fuera del modal para cerrarlo -->

<div [ngClass]="getClasses()">
  <header class="content__header">
    <div class="content__header-left">
      <!-- Componente de cabecera (header) personalizado -->
      <evo-header
        twClass="w-full"
        [icons]="commonProps.icons"
        [titles]="commonProps.titles"
        [items]="commonProps.items"
        [companyData]="commonProps.companyData"
        [box]="commonProps.box"
        [userData]="commonProps.userData"
      ></evo-header>
    </div>

    <!-- Mostrar el botón del menú en móvil -->
    @if (isMobile) {
      <div
        class="content__header-right w-8 flex align-center justify-center items-center"
      >
        <evo-button
          mat-button
          [icon]="commonProps.icons.appMenuIcons.buttonIcon"
          [withoutBorder]="true"
          (click)="toggleSidebar()"
        ></evo-button>
      </div>
    }
  </header>

  <!-- Sidebar para móvil y desktop -->
  @if (isSidebarOpen) {
    @if (isMobile) {
      <!-- Sidebar en versión móvil -->
      <div class="sidebar sidebar--mobile sidebar--open">
        <div class="mobile-header">
          <div class="profile-img">
            <!-- Componente de avatar con la imagen de usuario -->
            <evo-avatar
              size="sm"
              [name]="commonProps.userData.fullName"
              [imgUrl]="commonProps.userData.imgUrl"
              [isPriority]="true"
            ></evo-avatar>
          </div>
          <div class="profile-info">
            <!-- Información del perfil del usuario -->
            <div class="name">{{ commonProps.userData.fullName }}</div>
            <div>{{ sessionJobPositionName }}</div>
          </div>
        </div>

        <!-- Menú de navegación del sidebar -->
        <nav class="sidebar__nav">
          <ul>
            @for (option of options; track option.title) {
              <evo-button
                [label]="option.title"
                [icon]="option.icon"
                [withoutBorder]="true"
                [theme]="'secondary'"
                [isFluid]="true"
                [twClass]="'sidebar__evo-button btn-justify-start align-start'"
                (click)="selectOption(option)"
              ></evo-button>
            }
          </ul>
        </nav>

        <!-- Sección de opciones adicionales en el sidebar -->
        <div class="additional-options">
          <mat-divider></mat-divider>
          <nav class="sidebar__nav">
            <ul>
              <!-- Renderizado de las opciones principales de la app -->
              @if (commonProps.items.appItems) {
                @for (
                  option of commonProps.items.appItems;
                  track option.label
                ) {
                  <evo-button
                    [label]="option.label"
                    [icon]="option.icon"
                    [withoutBorder]="true"
                    [theme]="'secondary'"
                    [isFluid]="true"
                    [twClass]="'sidebar__evo-button'"
                    [url]="option.url"
                  ></evo-button>
                }
              }
            </ul>
          </nav>
          <mat-divider></mat-divider>

          <!-- Opciones adicionales si las hay -->
          @if (additionalOptions) {
            @for (option of additionalOptions; track option.title) {
              <evo-button
                [label]="option.title"
                [icon]="option.icon"
                [withoutBorder]="true"
                [theme]="'secondary'"
                [isFluid]="true"
                twClass="sidebar__evo-button"
                (click)="selectOption(option)"
              ></evo-button>
            }
            <mat-divider></mat-divider>
          }

          <!-- Acordeón de configuraciones -->
          <evo-accordion
            [config]="{
              title: commonProps.titles.settingTitle,
              icon: commonProps.icons?.settingMenuIcons?.buttonIcon || {
                type: 'class',
                icon: '',
              },
              height: '90px',
            }"
          >
            <!-- Opciones dentro del acordeón de configuraciones -->
            @for (
              option of commonProps.items.settingMenu.options;
              track option.name
            ) {
              <div class="option-item">
                <span class="pl-4">{{ option.name }}</span>
                <mat-slide-toggle></mat-slide-toggle>
              </div>
              <mat-divider></mat-divider>
            }
          </evo-accordion>

          <!-- Segundo acordeón: Más Aplicaciones -->
          <evo-accordion
            [config]="{
              title: 'Más Aplicaciones',
              icon: commonProps.icons?.appMenuIcons?.buttonIcon || {
                type: 'class',
                icon: '',
              },
              height: '157px',
            }"
          >
            <!-- Lista de aplicaciones adicionales -->
            @for (app of commonProps.moreOptions?.options; track app.label) {
              <div class="option-item" (click)="app.action!()">
                <evo-button
                  [label]="app.label"
                  [icon]="app.icon"
                  [withoutBorder]="true"
                  [theme]="'secondary'"
                  [isFluid]="true"
                  [twClass]="'sidebar__evo-button'"
                ></evo-button>
              </div>
              <mat-divider></mat-divider>
            }
          </evo-accordion>

          <!-- Botones de opciones relacionadas con el usuario -->
          @for (option of commonProps.items.userDataItems; track option.label) {
            @if (option.icon) {
              <evo-button
                [label]="option.label"
                [icon]="option.icon"
                [withoutBorder]="true"
                [theme]="'secondary'"
                [isFluid]="true"
                twClass="sidebar__evo-button"
                (click)="option.onClick?.action()"
                [url]="option.url"
              ></evo-button>
            }
          }
        </div>
      </div>
      <div class="sidebar__overlay" (click)="closeSidebar()"></div>
    }
  }

  <!-- Sidebar para versión de escritorio -->
  @if (!isMobile) {
    <div class="sidebar sidebar--open items-center">
      <nav class="sidebar__nav">
        <header>
          <ul>
            @for (option of options; track option.title) {
              <div class="sidebar__options">
                <evo-button
                  mat-button
                  [icon]="option.icon"
                  [withoutBorder]="true"
                  (click)="option.action!()"
                  [twClass]="
                    option.route ? (isActive(option.route) ? 'active' : '') : ''
                  "
                ></evo-button>
                <p class="truncate w-full">{{ option.title }}</p>
              </div>
            }

            <!-- Botón de Más Opciones justo debajo del menú -->
            <div class="sidebar__options">
              <evo-button
                mat-button
                [icon]="commonProps.moreOptions?.icon"
                [withoutBorder]="true"
                (click)="openMoreOptionsModal()"
              ></evo-button>
              <p class="truncate w-full">
                {{ commonProps.moreOptions?.label }}
              </p>
            </div>
            <div class="more-options-wrapper">
              <!-- Modal para Más Opciones -->
              <div
                class="more-options-modal"
                [ngClass]="{ show: showMoreOptionsModal }"
                (click)="$event.stopPropagation()"
              >
                <!-- Botón de cierre (equis) -->
                <button class="close-button" (click)="closeMoreOptionsModal()">
                  &times;
                </button>

                <div class="more-options-content">
                  <h3 class="text-center text-base">
                    {{ commonProps.moreOptions?.insideLabel }}
                  </h3>
                  <div class="more-options-grid">
                    @for (
                      option of commonProps.moreOptions?.options;
                      track option.label
                    ) {
                      <div
                        class="option-item__more-options"
                        (click)="selectOption(option)"
                      >
                        <evo-button
                          mat-button
                          [icon]="commonProps.moreOptions?.icon"
                          [withoutBorder]="true"
                        ></evo-button>
                        <p class="truncate w-full">
                          {{ commonProps.moreOptions?.label }}
                        </p>
                      </div>
                    }
                  </div>
                </div>
              </div>
            </div>
          </ul>
        </header>
      </nav>

      <!-- Footer del sidebar en escritorio -->
      <div class="sidebar__footer">
        <nav class="sidebar__nav">
          <header class="mb-2">
            <ul>
              @if (footerOptions) {
                @for (option of footerOptions; track option.title) {
                  <div class="sidebar__footer-options">
                    <evo-button
                      mat-button
                      [icon]="option.icon"
                      [withoutBorder]="true"
                      (click)="selectOption(option)"
                      [twClass]="
                        option.route
                          ? isActive(option.route)
                            ? 'active'
                            : ''
                          : ''
                      "
                    ></evo-button>
                    <p class="truncate w-full">{{ option.title }}</p>
                  </div>
                }
              }
            </ul>
          </header>
        </nav>
      </div>
    </div>
  }

  <!-- Contenido principal -->
  <div class="content" [ngClass]="{ 'with-sidebar-margin': !isMobile }">
    <main class="content__main">
      <ng-content></ng-content>
    </main>
  </div>
</div>
