<mat-form-field>
  <mat-label>{{ label }}</mat-label>
  @if (isMultiple) {
    @if (isRequired) {
      <mat-select
        #selectControl
        [formControl]="control"
        multiple
        required
        (selectionChange)="onValueChange($event)"
      >
        <evo-button
          [icon]="icon"
          [isFluid]="true"
          (click)="clean($event)"
        ></evo-button>
        @for (item of items; track item) {
          <mat-option [value]="item.key">{{ item.value }}</mat-option>
        }
      </mat-select>
    } @else {
      <mat-select
        #selectControl
        [formControl]="control"
        multiple
        (selectionChange)="onValueChange($event)"
      >
        <evo-button
          [icon]="icon"
          [isFluid]="true"
          (click)="clean($event)"
        ></evo-button>
        @for (item of items; track item) {
          <mat-option [value]="item.key">{{ item.value }}</mat-option>
        }
      </mat-select>
    }
  } @else {
    @if (isRequired) {
      <mat-select
        #selectControl
        [formControl]="control"
        required
        (selectionChange)="onValueChange($event)"
      >
        <evo-button
          [icon]="icon"
          [isFluid]="true"
          (click)="clean($event)"
        ></evo-button>
        @for (item of items; track item) {
          <mat-option [value]="item.key">{{ item.value }}</mat-option>
        }
      </mat-select>
    } @else {
      <mat-select
        #selectControl
        [formControl]="control"
        (selectionChange)="onValueChange($event)"
      >
        <evo-button
          [icon]="icon"
          [isFluid]="true"
          (click)="clean($event)"
        ></evo-button>
        @for (item of items; track item) {
          <mat-option [value]="item.key">{{ item.value }}</mat-option>
        }
      </mat-select>
    }
  }
  @if (detail) {
    <mat-hint>{{ detail }}</mat-hint>
  }
  @if (control.hasError("required") && requiredErrorMessage) {
    <mat-error>{{ requiredErrorMessage }}</mat-error>
  }
</mat-form-field>
