<mat-form-field class="mat-form-select min-w-36 max-w-lg w-full {{ twClass }}">
  @if (label) {
    <mat-label class="text-medium-gray">{{ label }}</mat-label>
  }
  @if (isMultiple) {
    @if (isRequired) {
      <mat-select
        #selectControl
        [formControl]="control"
        multiple
        required
        (selectionChange)="onValueChange()"
      >
        <evo-button
          [icon]="buttonIcon"
          [isFluid]="true"
          (click)="clean()"
          theme="secondary"
        ></evo-button>
        @for (item of items; track item.Id) {
          <mat-option [value]="item.Id">{{ item.Description }}</mat-option>
        }
      </mat-select>
    } @else {
      <mat-select
        #selectControl
        [formControl]="control"
        multiple
        (selectionChange)="onValueChange()"
      >
        <evo-button
          [icon]="buttonIcon"
          [isFluid]="true"
          (click)="clean()"
          theme="secondary"
        ></evo-button>
        @for (item of items; track item.Id) {
          <mat-option [value]="item.Id">{{ item.Description }}</mat-option>
        }
      </mat-select>
    }
  } @else {
    @if (isRequired) {
      <mat-select
        #selectControl
        [formControl]="control"
        required
        (selectionChange)="onValueChange()"
      >
        <evo-button
          [icon]="buttonIcon"
          [isFluid]="true"
          (click)="clean()"
          theme="secondary"
        ></evo-button>
        @for (item of items; track item.Id) {
          <mat-option [value]="item.Id">{{ item.Description }}</mat-option>
        }
      </mat-select>
    } @else {
      <mat-select
        #selectControl
        [formControl]="control"
        (selectionChange)="onValueChange()"
      >
        <evo-button
          [icon]="buttonIcon"
          [isFluid]="true"
          (click)="clean()"
          theme="secondary"
        ></evo-button>
        @for (item of items; track item.Id) {
          <mat-option [value]="item.Id">{{ item.Description }}</mat-option>
        }
      </mat-select>
    }
  }
  @if (detail) {
    <mat-hint class="whitespace-pre-wrap">{{ detail }}</mat-hint>
  }
  @if (control.hasError("required") && requiredErrorMessage) {
    <mat-error>{{ requiredErrorMessage }}</mat-error>
  }
</mat-form-field>
