.evo-table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
  font-size: 14px;
  th,
  td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    background-color: #f8fafc;
    font-weight: 500;
    color: #64748b;
  }

  td input[type="checkbox"] {
    transform: scale(1.2);
    padding: 8px;
    text-align: left;

    border-radius: 100%;
  }

  .profile {
    display: flex;
    align-items: center;

    .profile-info {
      margin-left: 0.75rem;

      .name {
        font-weight: bold;
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;

    span {
      font-size: 0.875rem;
    }

    .pagination-controls {
      display: flex;
      gap: 0.5rem;

      button {
        padding: 0.5rem 1rem;
        border: none;
        background-color: #f4f4f4;
        cursor: pointer;

        &:disabled {
          background-color: #ccc;
          cursor: not-allowed;
        }

        &:hover:not(:disabled) {
          background-color: #ddd;
        }
      }

      span {
        cursor: pointer;
        padding: 0.5rem 1rem;
        background-color: #f4f4f4;
        &:hover {
          background-color: #ddd;
        }
      }
    }
  }
}

div.actions-menu {
  position: absolute;
  top: 100%; /* Apuntar hacia el lado derecho */
  right: 0;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 0.5rem;
  z-index: 999; /* Asegurarse de que esté encima del overlay */
  min-width: 150px;
  @media (max-width: 768px) {
    top: 100%;
  }
  ul {
    li {
      button.evo-button {
        width: 120px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
        min-height: 20px;
        border-radius: 30px;

        &.program-table-button__delete {
          background-color: var(--white);
          box-shadow: var(--standard-box-shadow);
          border: 1.5px solid var(--warn);
          color: var(--warn);
          &:hover {
            border: 1.5px solid rgb(153, 8, 8);
            color: rgb(153, 8, 8);
          }
          &:active {
            border: 1.5px solid rgb(153, 8, 8);
            color: rgb(153, 8, 8);
          }
          &:disabled,
          &:active:disabled,
          &:hover:disabled {
            border: 1.5px solid var(--light-gray);
            color: var(--light-gray);
          }
        }
        &.program-table-button__update {
          background-color: none;
          border-color: var(--caution);
          color: var(--caution);
          &:hover {
            border: 1.5px solid var(--light-caution);
            color: var(--light-caution);
          }
          &:active {
            border: 1.5px solid var(--light-caution);
            color: var(--light-caution);
          }
          &:disabled,
          &:active:disabled,
          &:hover:disabled {
            border: none;
            color: var(--caution);
          }
        }

        .label {
          font-size: 13px;
          font-weight: 600;
        }
      }
    }
  }
}

.actions-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.actions-menu li {
  margin-bottom: 0.5rem;
}

.actions-menu li:last-child {
  margin-bottom: 0;
}

.modal-backdrop {
  display: none; /* No mostrar el fondo */
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.card-actions {
  display: flex;
  justify-content: flex-end;
  position: relative; /* Para que el menú se posicione cerca del botón */
}

/* Estilo para el overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0); /* Fondo completamente transparente */
  z-index: 998; /* Un índice de capa por debajo del menú */
}
