<!-- Vista de tabla para escritorio -->
<div *ngIf="!isMobile" class="table-container">
  <table class="evo-table w-full border-collapse">
    <thead>
      <tr>
        <th *ngIf="metadata?.MultiSelect">
          <input
            type="checkbox"
            [checked]="areAllSelected()"
            (change)="selectAllResults()"
          />
        </th>
        <ng-container *ngFor="let column of getVisibleColumns()">
          <th class="text-left px-2 py-1">
            <div class="flex align-center items-center">
              <!-- Columna con header y botón de ordenamiento -->
              <span class="header-text">{{ column.Header }}</span>
              <evo-button
                class="pl-2"
                [icon]="{
                  type: 'class',
                  icon: getSortIcon(column.FieldName),
                }"
                size="sm"
                [withoutBorder]="true"
                [twClass]="' sort-button'"
                (click)="toggleSort(column.FieldName)"
              ></evo-button>
            </div>
          </th>
        </ng-container>
        <th *ngIf="metadata?.Buttons?.length" class="text-left px-2 py-1">
          Acciones
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of paginatedItems" class="border-b border-gray-300">
        <td *ngIf="metadata?.MultiSelect">
          <input
            type="checkbox"
            [checked]="item.selected"
            (change)="toggleSelect(item)"
          />
        </td>
        <ng-container *ngFor="let column of getVisibleColumns()">
          <td class="px-2 py-1 text-left">
            <ng-container
              *ngIf="column.FieldName === 'estado'; else defaultContent"
            >
              <evo-button
                [label]="getButtonLabel(item)"
                [twClass]="getButtonTheme(item)"
                (click)="handleAction(item, 'customAction')"
                size="sm"
              ></evo-button>
            </ng-container>
            <ng-template #defaultContent>
              {{ item[column.FieldName] || "N/A" }}
            </ng-template>
          </td>
        </ng-container>
        <td
          *ngIf="metadata?.Buttons?.length"
          class="px-2 py-1 text-left relative"
        >
          <evo-button
            [icon]="{
              type: 'class',
              icon: 'more_vert',
            }"
            (click)="toggleActionsMenu(item)"
            size="sm"
          ></evo-button>

          <!-- Overlay para cerrar el menú al hacer clic fuera -->
          <div
            class="overlay"
            *ngIf="isActionsModalOpen && selectedItem === item"
            (click)="closeActionsModal()"
          ></div>

          <!-- Menú desplegable de acciones -->
          <div
            class="actions-menu"
            *ngIf="isActionsModalOpen && selectedItem === item"
          >
            <ul>
              <li *ngFor="let action of currentItemActions">
                <evo-button
                  [twClass]="getButtonTheme(action)"
                  [label]="action.Text"
                  (click)="
                    handleAction(selectedItem!, action.Code);
                    closeActionsModal()
                  "
                  size="sm"
                ></evo-button>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Vista de card para móvil -->
<div *ngIf="isMobile" class="card-container">
  <div *ngFor="let item of paginatedItems" class="card">
    <div *ngFor="let column of getVisibleColumns()" class="card-row">
      <span>
        <strong>{{ column.Header }}:</strong>
        <span>{{ item[column.FieldName] || "N/A" }}</span>
      </span>
    </div>
    <div class="card-actions">
      <evo-button
        [icon]="{
          type: 'class',
          icon: 'more_vert',
        }"
        (click)="toggleActionsMenu(item)"
        size="sm"
      ></evo-button>

      <!-- Overlay para cerrar el menú al hacer clic fuera -->
      <div
        class="overlay"
        *ngIf="isActionsModalOpen && selectedItem === item"
        (click)="closeActionsModal()"
      ></div>

      <!-- Menú desplegable de acciones -->
      <div
        class="actions-menu"
        *ngIf="isActionsModalOpen && selectedItem === item"
      >
        <ul>
          <li *ngFor="let action of currentItemActions">
            <evo-button
              [twClass]="getButtonTheme(action)"
              [label]="action.Text"
              (click)="
                handleAction(selectedItem!, action.Code); closeActionsModal()
              "
              size="sm"
            ></evo-button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Mensaje cuando no hay datos -->
<div *ngIf="data.length === 0" class="text-center py-4">
  {{
    getLocalizedString("{EmptyDataSetMessage}") || "No hay datos para mostrar"
  }}
</div>

<!-- Controles de paginación -->
<div
  class="pagination flex justify-around items-center mt-4"
  *ngIf="totalPages >= 1"
>
  <evo-button
    (click)="previousPage()"
    [disabled]="page <= 1"
    [icon]="{ type: 'class', icon: 'chevron_left' }"
    size="sm"
  ></evo-button>
  <span>Página {{ page }} de {{ totalPages }}</span>
  <evo-button
    (click)="nextPage()"
    [disabled]="page >= totalPages"
    [icon]="{ type: 'class', icon: 'chevron_right' }"
    size="sm"
  ></evo-button>
  <span>
    {{ titles.mostrando }} {{ (page - 1) * pageSize + 1 }} -
    {{ getMinValue(page * pageSize, totalItems) }} {{ titles.resultados }}
  </span>
</div>
