<div class="search-bar">
  <mat-icon
    class="mr-2"
    aria-hidden="false"
    [attr.aria-label]="'search'"
    fontSet="material-symbols-outlined"
    >search</mat-icon
  >
  <input
    class="w-full p-2 outline-none"
    type="text"
    [placeholder]="placeholder"
    [(ngModel)]="inputValue"
    (input)="onInput($event)"
  />
  <mat-icon
    *ngIf="inputValue"
    class="ml-2 clear-icon"
    aria-hidden="false"
    [attr.aria-label]="'clear'"
    fontSet="material-symbols-outlined"
    (click)="clearInput()"
    >clear</mat-icon
  >
</div>
