<div
  cdkDropList
  class="flex flex-col gap-2 !h-full p-2 rounded-lg"
  [cdkDropListData]="actividades"
  (cdkDropListDropped)="drop($event)"
  [cdkDropListEnterPredicate]="validationCDK"
  id="board-activity-column"
  [ngClass]="{
    'rounded-xl outline-dashed outline-gray-300 outline-2 h-full':
      actividades.length === 0,
  }"
>
  @for (actividad of actividades; track actividad.Codigo) {
    <evo-carta-actividad
      class="carta-actividad"
      cdkDrag
      cdkDragHandle
      [cdkDragData]="actividad"
      [actividad]="actividad"
      [endDate]="actividad.FechaFin"
      [twClass]="'h-36'"
      [id]="actividad.Codigo"
      (taskUpdate)="mostrar($event)"
    >
    </evo-carta-actividad>
  }
</div>
