<div
  cdkDropList
  class="flex flex-col gap-1 h-full min-h-36"
  [cdkDropListData]="actividades"
  (cdkDropListDropped)="drop($event)"
  id="board-activity-column"
  [ngClass]="{
    'rounded-xl outline-dashed outline-gray-300 outline-2 h-full':
      actividades.length === 0,
  }"
>
  @for (actividad of actividades; track actividad.id) {
    <evo-carta-actividad
      class="carta-actividad"
      cdkDrag
      cdkDragHandle
      [cdkDragData]="actividad"
      [title]="actividad.titulo"
      [description]="actividad.descripcion!"
      [priority]="actividad.prioridad"
      [responsible]="actividad.responsable"
      [twClass]="'h-36'"
      [id]="actividad.id"
    >
    </evo-carta-actividad>
  }
</div>
