@import "../styles/output.scss";

header {
  background-color: var(--accent-500);
  .evo-button {
    &.without-border {
      border: none !important;
      background-color: transparent;
      box-shadow: none;
      .evo-button__content .icon {
        mat-icon, svg {
          color: var(--white-smoke);
        }
      }
      &:hover,
      &:focus {
        background-color: var(--white-smoke);
        .evo-button__content .icon {
          mat-icon, svg {
            color: var(--accent-500);
          }
        }
      }
    }
  }
  evo-svg svg {
    max-width: 45px;
    height: max-content;
    color: var(--white-smoke);
  }
  evo-avatar #avatar-wrapper {
    background-color: var(--primary-50);
    span {
      color: var(--primary-700);
    }
  }
}
