<header
  class="flex justify-between items-center sm:px-[25px] px-[16px] py-2 {{
    classes
  }}"
>
  <div class="flex gap-[25px] items-center">
    <evo-menu
      class="sm:flex hidden"
      [buttonIcon]="appIcon"
      [closeIcon]="closeMenuIcon"
      [title]="appTitle"
      [items]="appItems"
    ></evo-menu>
    <div class="flex items-center gap-[25px]">
      @if (companyImage) {
        <evo-svg [svgPath]="companyImage"></evo-svg>
      }
      @if (companyName) {
        <h5
          class="lg:flex hidden border-r border-white-smoke pr-[25px] text-white-smoke text-sm"
        >
          {{ companyName }}
        </h5>
      }
    </div>
  </div>
  <div class="sm:flex gap-[12px] items-center hidden">
    @if (box) {
      @for (button of box; track $index) {
        <button
          (click)="button.action()"
          class="font-bold text-sm text-white-smoke lg:flex hidden"
        >
          {{ button.label }}
        </button>
      }
    }
    <evo-menu
      [buttonIcon]="notificationIcon"
      [closeIcon]="closeMenuIcon"
      [title]="notificationTitle"
      [items]="notificationItems"
      [notificationsNumber]="menuNotificationsNumber"
    ></evo-menu>
    <div class="flex items-center gap-[8px]">
      <evo-avatar
        size="sm"
        [name]="userData.fullName"
        [imgUrl]="userData.imgUrl"
      >
      </evo-avatar>
      <div class="tracking-wider md:block hidden">
        <h5 class="font-bold text-base text-white-smoke">
          {{ userData.fullName }}
        </h5>
        <h5 class="font-medium text-sm text-white-smoke">
          {{ userData.position }}
        </h5>
      </div>
      <evo-menu
        [closeIcon]="closeMenuIcon"
        [userData]="userData"
        [items]="userDataItems"
      ></evo-menu>
    </div>
  </div>
</header>
