.button-in-list .evo-button {
  &.theme-default {
    justify-content: left;
    padding: 8px 70px;
    @media (max-width: 640px) {
      padding: 8px 32px;
    }
    box-shadow: none;
    .evo-button__content {
      color: var(--medium-gray);
      .label {
        text-align: left;
        font-size: 14px;
      }
    }
  }
}
