.evo-table-container {
  .evo-table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
    font-size: 14px;
    margin: 0;

    th,
    td {
      padding: 0.75rem;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      text-align: left;
      padding: 8px;
      border-bottom: 1px solid #ddd;
      background-color: #f8fafc;
      font-weight: 500;
      color: #64748b;
    }

    td input[type="checkbox"] {
      transform: scale(1.2);
      padding: 8px;
      text-align: left;
      border-radius: 100%;
    }

    .profile {
      display: flex;
      align-items: center;

      .profile-info {
        margin-left: 0.75rem;

        .name {
          font-weight: bold;
        }
      }
    }

    .pt-35 {
      padding-top: 35px;
    }
    .smart-list-selector {
      bottom: 80px;
      height: 60px;
      .mat-mdc-form-field-infix {
        bottom: 8px;
      }
      .mat-mdc-form-field-focus-overlay {
        height: 42px;
      }
      label {
        font-size: 12px;
      }

      span {
        font-size: 12px;
      }
    }
  }

  .modal-backdrop {
    display: none;
  }

  .card-actions {
    display: flex;
    justify-content: flex-end;
    position: absolute;
  }

  .center-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  --scrollbar-track-color: #f1f1f1;
  --scrollbar-thumb-color: #c1c1c1;
  --scrollbar-size: 5px;

  .custom-scroll::-webkit-scrollbar {
    width: var(--scrollbar-size);
  }

  .custom-scroll::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
    border-radius: 5px;
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: 5px;
  }

  @supports not selector(::-webkit-scrollbar) {
    .custom-scroll {
      scrollbar-width: thin;
      scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
    }
  }
}

.evo-card-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .card {
    border: 1px solid #ddd;
    padding: 30px;
    padding-top: 5px;
    padding-bottom: 8px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .evo-table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
    font-size: 14px;

    th,
    td {
      padding: 0.75rem;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      text-align: left;
      padding: 8px;
      border-bottom: 1px solid #ddd;
      background-color: #f8fafc;
      font-weight: 500;
      color: #64748b;
    }

    td input[type="checkbox"] {
      transform: scale(1.2);
      padding: 8px;
      text-align: left;
      border-radius: 100%;
    }

    .profile {
      display: flex;
      align-items: center;

      .profile-info {
        margin-left: 0.75rem;

        .name {
          font-weight: bold;
        }
      }
    }
  }

  .card-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }

  .card-actions {
    display: flex;
    justify-content: flex-end;
    position: absolute;
  }

  .center-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

evo-button {
  .evo-button.smart-list-button {
    border-radius: 20px;
    width: 80px;
    padding-top: 12px;
    padding-bottom: 12px;
    div.label {
      font-size: 12px;
      font-weight: 500;
    }
  }
  .evo-button.smart-list-button__assigned {
    pointer-events: none;
    border: none;
    background-color: var(--light-caution);
    color: var(--caution);
  }

  .evo-button.smart-list-button__assigned:hover {
    pointer-events: none;
    border: none;
    background-color: var(--light-caution);
    color: var(--caution);
  }

  .evo-button.smart-list-button__add {
    border: 1.5px solid var(--success);
    color: var(--success);
  }

  .evo-button.smart-list-button__add:hover {
    border: 1.5px solid var(--light-success);
    color: var(--light-success);
  }

  .evo-button.smart-list-button__delete {
    border: 1.5px solid var(--warn);
    color: var(--warn);
  }

  .evo-button.smart-list-button__delete:hover {
    border: 1.5px solid var(--light-warn);
    color: var(--light-warn);
  }
}

.table-container,
.card-container {
  evo-button {
    .evo-button.card__evo-button.without-border.theme-secondary {
      background-color: transparent;
      box-shadow: none;
      border: none;

      &:hover {
        background-color: transparent;
        box-shadow: none;
        border: none;
      }

      mat-icon {
        &:hover {
          color: var(--light-gray) !important;
        }
      }
    }
  }
}
