@if (closeIcon) {
  <div mat-dialog-title class="dialog-title">
  <evo-button class="close-button" [onClick]="closeDialog" [icon]="closeIcon" [withoutBorder]="true"></evo-button>
</div>
}
<h2 mat-dialog-title>{{ title }}</h2>
@if (scrollableContent !== '') {
    <mat-dialog-content class="mat-typography">
        <div [innerHTML]="scrollableContent"></div>
    </mat-dialog-content>
}
@if (simpleContent !== '') {
    <mat-dialog-content>
        {{ simpleContent }}
    </mat-dialog-content>
}

@if (buttonsItems.length! > 0) {
    <mat-dialog-actions class="mx-2 flex flex-col justify-end gap-x-2 sm:flex-row gap-y-2" align="end">
        @for (item of buttonsItems; track item; let idx = $index) {
              <evo-button
              class="function-button"
              [label]="item.label"
              [icon]="item.icon"
              [theme]="item.theme!"
              [onClick]="buttonsFunctions[idx]"
              matDialogClose
            ></evo-button>
        }
    </mat-dialog-actions>
    }

