<aside
  id="login-aside"
  [class]="twClassAside"
  class="[grid-area:aside] text-left h-full flex-row rounded-lg shadow-[4px_4px_4px_rgba(0,0,0,0.1)] p-6 max-lg:hidden"
>
  @if (title !== "") {
    <p
      class="aside-title pt-20 text-4xl text-left font-semibold leading-normal"
    >
      <span>{{ title }}</span>
    </p>
  }
  @if (subtitle !== "") {
    <p class="aside-subtitle py-20 text-lg text-gray-700">{{ subtitle }}</p>
  }
  @if (cardtext !== "") {
    <div
      [class]="twClassCard"
      class="aside-cardtext w-full py-6 px-4 rounded-md text-lg"
    >
      <span>{{ cardtext }}</span>
    </div>
  }
</aside>
@if (cardtext !== "") {
  <div
    [class]="twClassCard"
    class="aside-cardtext-mobile w-full py-6 px-4 rounded-md text-lg md:hidden text-center"
  >
    <span>{{ cardtext }}</span>
  </div>
}
