#login {
  display: grid;
  grid-template-areas: "aside main";
  grid-template-columns: 0.6fr 1fr;
  grid-template-rows: 1fr;
}

#login-form {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "form"
    "copyright";
}

@media not all and (min-width: 1024px) {
  #login {
    grid-template-columns: 1fr;
    grid-template-areas:
      "main"
      "aside";
  }
}
