header .evo-button.without-border.active .evo-button__content .icon svg {
  color: var(--accent-500) !important;
}
header button.evo-button.without-border.active {
  background-color: var(--white) !important;
}
evo-svg {
  display: flex;
}
