@if (!isHidden && title && message) {
  <div
    [ngClass]="
      type === 'success'
        ? 'bg-light-success'
        : type === 'caution'
          ? 'bg-light-caution'
          : 'bg-light-warn'
    "
    class="flex items-center justify-between p-3 rounded-xl relative {{
      twClass
    }}"
    [@slideDown]="useAnimation"
  >
    <div class="flex gap-2">
      <div class="min-w-4">
        <mat-icon
          [ngClass]="
            type === 'success'
              ? 'text-success'
              : type === 'caution'
                ? 'text-caution'
                : 'text-warn'
          "
          class="min-w-min absolute top-[12px] left-3 text-xl"
          aria-hidden="false"
          [attr.aria-label]="
            (type === 'success'
              ? 'Success'
              : type === 'caution'
                ? 'Caution'
                : 'Error') + ' icon'
          "
          fontSet="material-symbols-outlined"
          >{{
            type === "success"
              ? "check_circle"
              : type === "caution"
                ? "info"
                : "error"
          }}</mat-icon
        >
      </div>
      <div>
        <div class="mb-1 font-extrabold text-dark-gray text-base">
          {{ title }}
        </div>
        <p class="text-medium-gray text-sm font-semibold break-all inline">
          {{ message }}
        </p>
        <ng-content></ng-content>
      </div>
    </div>
    <mat-icon
      (click)="hideBanner()"
      class="text-medium-gray min-w-min cursor-pointer"
      aria-hidden="false"
      aria-label="Close icon"
      fontSet="material-symbols-outlined"
      >close</mat-icon
    >
  </div>
}
