.menu-button .evo-button .evo-button__content .icon .material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.user-data-container evo-avatar #avatar-wrapper {
  background-color: var(--primary-50);
  span {
    color: var(--primary-700);
  }
}

.close-button .evo-button {
  &.without-border {
    background-color: transparent;
    box-shadow: none;
    .evo-button__content .icon {
      color: var(--light-gray);
    }
  }
}

.buttons-in-menu .evo-button {
  &.theme-secondary {
    justify-content: left;
    padding: 8px;
    color: var(--medium-gray);
    .evo-button__content {
      justify-content: left;
      .icon {
        color: var(--medium-gray);
      }
      .label {
        text-align: left;
        font-size: 12px;
      }
    }
    &.userFont {
      padding-left: 25px;
      .evo-button__content {
        .icon {
          margin-inline-end: 18px;
        }
        .label {
          font-size: 16px;
        }
      }
    }
  }
}
