.close-button .evo-button {
  &.without-border {
    background-color: transparent;
    box-shadow: none;
    .evo-button__content .icon svg {
      color: var(--light-gray);
    }
  }
}
.evo-button {
  &.theme-secondary {
    justify-content: start;
    padding: 8px;
    color: var(--medium-gray) !important;
    .evo-button__content {
      .icon svg {
        color: var(--medium-gray);
      }
      .label {
        font-size: 12px;
      }
    }
  }
}
