<form
  class="form-input min-w-36 max-w-lg w-full {{ inputConfiguration.twClass }}"
>
  <mat-form-field class="w-full">
    @if (inputConfiguration.label) {
      <mat-label class="text-medium-gray">{{
        inputConfiguration.label
      }}</mat-label>
    }
    <input
      type="{{ inputConfiguration.inputType }}"
      matInput
      [formControl]="inputConfiguration.control"
      [errorStateMatcher]="matcher"
      placeholder="{{ inputConfiguration.inputPlaceholder }}"
    />
    @if (inputConfiguration.control.value) {
      <evo-button
        class="absolute right-0 bottom-[13px]"
        twClass="!shadow-none !bg-white"
        [icon]="{
          icon: 'close',
          type: 'class',
        }"
        [withoutBorder]="true"
        (click)="clean($event)"
      ></evo-button>
    }
    @if (inputConfiguration.detail) {
      <mat-hint>{{ inputConfiguration.detail }}</mat-hint>
    }
    @if (
      inputConfiguration.control.hasError("required") &&
      inputConfiguration.requiredErrorMessage
    ) {
      <mat-error>{{ inputConfiguration.requiredErrorMessage }}</mat-error>
    }
    @if (
      !inputConfiguration.control.hasError("required") &&
      inputConfiguration.control.hasError("email") &&
      inputConfiguration.emailErrorMessage
    ) {
      <mat-error>{{ inputConfiguration.emailErrorMessage }}</mat-error>
    }
    @if (
      !inputConfiguration.control.hasError("required") &&
      inputConfiguration.control.hasError("pattern") &&
      inputConfiguration.patternErrorMessage
    ) {
      <mat-error>{{ inputConfiguration.patternErrorMessage }}</mat-error>
    }
    @if (
      !inputConfiguration.control.hasError("required") &&
      inputConfiguration.anotherErrorMessage
    ) {
      <mat-error>{{ inputConfiguration.anotherErrorMessage }}</mat-error>
    }
  </mat-form-field>
</form>
