evo-login {
  display: flex;
  width: 480px;
  margin: auto;
  evo-svg .mat-icon {
    height: auto;
    width: auto;
    max-width: 160px;
  }

  evo-button .evo-button.theme-primary {
    border: 1.5px solid transparent;
  }
}

@media (max-width: 640px) {
  evo-login {
    width: 100%;
  }
}

@media (max-width: 768px) {
  evo-login {
    evo-svg .mat-icon {
      max-width: 100px;
    }
  }
}
