<div
  class="relative rounded-xl bg-white px-3 py-2 text-black shadow-md hover:text-primary hover:shadow-lg transition-all max-w-80 min-w-fit"
  tabindex="0"
>
@if (priority) {
  <evo-tag
    [prioridad]="priority"
    [label]="priority"
  ></evo-tag>
}
  <p class="mb-1 text-base font-bold">
    {{ title }}
  </p>
  <p class="text-xs font-light text-gray-500">
    {{ description }}
  </p>

@if (responsible || endDate) {
  <div
    id="cart-actividad-footer"
    class="flex flex-row flex-wrap justify-between items-center mt-2"
  >
  @if (responsible) {
    <evo-avatar size="sm" [name]="responsible"></evo-avatar>
  }
  @if (endDate) {
    <span id="endDate" class="text-base flex items-center">📅
      <p class="text-xs font-light">{{ endDate | date: 'dd/MM/yyyy' }}</p>
    </span>
  }
  </div>
}
</div>
