<button
  type="button"
  class="evo-button rounded-md outline-none border-none font-normal min-h-9 min-w-18 px-6 py-2 flex items-center justify-center"
  [attr.disabled]="disabled === true ? true : null"
  [class]="getClasses"
  (click)="onClickHandler()"
>
  @if (url) {
    <a class="w-full" [href]="url" target="_blank">
      <div class="evo-button__content">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
      </div>
    </a>
  } @else {
    <div class="evo-button__content">
      <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </div>
  }
  <ng-template #contentTemplate>
    @if (icon && icon.position === "left") {
      <div
        [class]="{ 'me-[8px]': icon.position === 'left' && label }"
        class="icon"
      >
        @if (icon.type === "svg") {
          <evo-svg [svgPath]="icon.icon"></evo-svg>
        }
        @if (icon.type === "class") {
          <mat-icon
            aria-hidden="false"
            aria-label="icon"
            [fontIcon]="icon.icon"
          ></mat-icon>
        }
      </div>
    }
    @if (avatarName) {
      <evo-avatar
        [class]="{ 'me-[8px]': label }"
        size="sm"
        [name]="avatarName"
        [imgUrl]="avatarImgUrl"
      ></evo-avatar>
    }
    @if (label) {
      <div class="label">
        {{ label }}
      </div>
    }
    @if (icon && icon.position === "right") {
      <div
        [class]="{ 'ms-[8px]': icon.position === 'right' && label }"
        class="icon"
      >
        @if (icon.type === "svg") {
          <evo-svg [svgPath]="icon.icon"></evo-svg>
        }
        @if (icon.type === "class") {
          <mat-icon
            aria-hidden="false"
            aria-label="icon"
            [fontIcon]="icon.icon"
          ></mat-icon>
        }
      </div>
    }
    @if (icon && !icon.position && !label) {
      <div class="icon">
        @if (icon.type === "svg") {
          <evo-svg [svgPath]="icon.icon"></evo-svg>
        }
        @if (icon.type === "class") {
          <mat-icon
            aria-hidden="false"
            aria-label="icon"
            [fontIcon]="icon.icon"
          ></mat-icon>
        }
      </div>
    }
  </ng-template>
</button>
