<button
  type="button"
  class="evo-button rounded-md outline-none border-none font-normal min-h-9 min-w-18 px-6 py-2 flex items-center justify-center"
  [attr.disabled]="disabled === true ? true : null"
  [class]="getClasses"
  (click)="onClickHandler()"
  mat-menu-item
>
  <div class="evo-button__content">
    @if (icon && icon.position === "left") {
      <div [class]="{ left: icon.position === 'left' && label }" class="icon">
        @if (icon.type === "svg") {
          <div [innerHTML]="svgContent"></div>
        }
        @if (icon.type == "class") {
          <span [class]="icon.class">
            {{ icon.icon }}
          </span>
        }
      </div>
    }
    @if (label) {
      <div class="label">
        {{ label }}
      </div>
    }
    @if (icon && icon.position === "right") {
      <div [class]="{ right: icon.position === 'right' && label }" class="icon">
        @if (icon.type === "svg") {
          <div [innerHTML]="svgContent"></div>
        }
        @if (icon.type == "class") {
          <span [class]="icon.class">
            {{ icon.icon }}
          </span>
        }
      </div>
    }
    @if (icon && !icon.position && !label) {
      <div class="icon">
        @if (icon.type === "svg") {
          <div [innerHTML]="svgContent"></div>
        }
        @if (icon.type == "class") {
          <span [class]="icon.class">
            {{ icon.icon }}
          </span>
        }
      </div>
    }
  </div>
</button>
